{% extends 'base.html.twig' %}
{% block body %}
	<h2>
		<a href="{{path('sous_app',{'a':6,'b':3})}}">
			soustractione</a>
	</h2>
	<h2>
		<a href="{{path('somme_app',{'a':6,'b':3})}}">somme</a>
	</h2>
{% endblock %}
