{% extends 'base.html.twig' %}

{% block body %}
	<h1>Liste des articles</h1>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Libellé</th>
				<th>Quantité</th>
				<th>Gamme</th>
			</tr>
		</thead>
		<tbody>
			{% for tab in articles %}
				<tr>
					{% for value in tab %}

						<td>{{value}}</td>
					{% endfor %}
				</tr>
				<tr>
				{% endfor %}
			</tbody>
		</tbody>
	</table>
{% endblock %}
